<div class="signup_form_container">
  <div class="signup_form">

    <h2>Please tell us some information about yourself</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :fname, placeholder: "First Name", class: "form_field" %>
      </div>

      <br>

      <div class="field">
        <%= f.text_field :lname, placeholder: "Last Name", class: "form_field" %>
      </div>

      <br>

      <div class="field">
        <%= f.email_field :email, placeholder: "Email Address", class: "form_field" %>
      </div>

      <br>

      <div class="field">
        <%= f.text_field :address, placeholder: "Home or work address", class: "form_field" %>
      </div>

      <br>

      <div class="field">
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, placeholder: "Password ( 8 characters minimum) ", autocomplete: "off", class: "form_field" %>
      </div>

      <br>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation", autocomplete: "off", class: "form_field" %>
      </div>

      <br>

      <div class="checkbox">
        <%= f.check_box :is_rn %>  
        <%= f.label :is_rn, "I am a registered nurse" %>
      </div>

      <br>

      <div class="checkbox">
        <%= f.check_box :is_self %>  
        <%= f.label :is_self, "I am looking on behalf of someone else" %>
      </div>

      <br>

      <div class="actions">
        <%= f.submit "Sign up", class: "submit_button" %>
      </div>

      <br>

    <% end %>

    <br>

  </div>
</div>
